<div class="card">
    <div class="card-title">
        <p>From: {{commenter.username}}</p>
    </div>
    <div class="card-content">
        <p>{{content}}</p>
    </div>
    <div class="card-footer">
        <p>{{format_date created}}</p>
    </div>
</div>