<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google font framework-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Google fonts link for open Sans Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <!-- Font Awesome Icon Library -->
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <title>Dashboard</title>
  <!-- Materialize framework -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
  {{!-- remove the rel attribute so express can return the right type attribute --}}
  <link type="text/css" rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/png" href="/icons/favicon.png"/>
</head>

<body>

  {{{body}}}

  
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">TECH BLOG: SNIPPETS OF TECH</h5>
          <p class="grey-text text-lighten-4">BY <span class="black-text">FONYX</span></p>
        </div>
      </div>
    </div>
  </footer>
            
  <!-- Jquery load -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- We leave this script to load materialize faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var options = {
        edge: 'right',
        draggable: true,
        inDuration: 200,
        closeOnClick: true
    };
    var instances = M.Sidenav.init(elems, options);
  });

  </script>

</body>


</html>