<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css">
  <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <!-- TODO: Add a comment describing the functionality of this helper -->
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container">
    <h1> Main Header </h1>
    {{ body }}
  </main>
  <footer>
  </footer>

  <!-- TODO: Add a comment describing the functionality of this helper -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>