<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  {{!-- remove the rel attribute so express can return the right type attribute --}}
  <link type="text/css" href="./css/styles.css">
</head>

<body>
  <main class="container">
    <h1> Main Header </h1>
    {{{ body }}}
  </main>
  <footer>
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>