<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">Are you Sure? You should be heard</a>
    </div>
  </nav>
</header>
<main class="valign-wrapper">
  <div class="container center-align">
    <div class="col-md-6">
        <h2>Delete Comment</h2>

        <a id="delete" class="btn btn-primary red" data-comment_id="{{comment.id}} " data-post_id="{{post.id}}">Delete</a>

        <a href="#" onclick="window.history.back()" class="btn btn-primary">Back Away Slowly</a>
        {{!-- <a href="/comment/{{id}}" class="btn btn-primary">Back Away Slowly</a> --}}
    </div>
  </div>

  <script src="/js/delete-comment.js"></script>
</main>