<header>
  <h1>Are you Sure? That post is fire</h1>
</header>
<main>
    <div class="col-md-6">
        <h2>Delete Post</h2>

        <a id="delete" class="btn btn-primary red" data-id="{{id}}">Delete</a>

        <a href="/post/update/{{id}}" class="btn btn-primary">Back Away Slowly</a>
    
    </div>

  <script src="/js/delete-post.js"></script>
</main>