<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">Are you Sure? That post is fire</a>
    </div>
  </nav>
</header>
<main class="valign-wrapper">
  <div class="container center-align">
    <div class="col-md-6">
      <div class="row">
        <h2>Delete Post</h2>
      </div>
      <div class="row">
        <a id="delete" class="btn btn-primary red" data-id="{{id}}">Delete</a>
        <a href="#" onclick="window.history.back()" class="btn btn-primary">Back Away Slowly</a>
        {{!-- <a href="/post/update/{{id}}" class="btn btn-primary">Back Away Slowly</a> --}}
      </div>
    </div>
  </div>

  <script src="/js/delete-post.js"></script>
</main>