<header>
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo center">CREATE POST</a>
        </div>
    </nav>
</header>
<main class="valign-wrapper">
    <div class="container">
        <div class="col-md-6">
            <form class="form create-post-form">
                <div class="form-group">
                    <label for="title-create-post">Title</label>
                    <input class="form-input" type="text" id="title-create-post"/>
                </div>
                <div class="form-group">
                    <label for="content-create-post">Content</label>
                    <input class="form-input" type="text" id="content-create-post" value="{{post.content}}"/>
                </div>
                <div class="form-group">
                    <label for="tags-create-post">Tags</label>
                    <input class="form-input" type="text" id="tags-create-post" placeholder="Comma separated text for tags"/>
                </div>
                <div class="form-group row center-align">
                    <button class="btn red" type="submit">Post</button>
                    <a href="/" class="btn grey">Cancel</a>
                </div>
            </form>
        </div>
    </div>

  <script src="/js/create-post.js"></script>
</main>