<header>
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Add Comment</a>
        </div>
    </nav>
</header>

<main class="valign-wrapper">
    <div class="container">
        {{>post-detail-full post}}
        <div class="col-md-6">
            <form class="form create-comment-form row">
                <div class="form-group">
                    <label for="content-create-comment">COMMENT</label>
                    <input class="form-input" type="text" data-post_id="{{post.id}}" id="content-create-comment"/>
                </div>
                <div class="row center-align">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">POST COMMENT</button>
                        <a href="/post/{{post.id}}" class="btn grey">CANCEL</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
  <script src="/js/create-comment.js"></script>
</main>