<header>
  <h1>Add Comment</h1>
    <nav>
    <button class="btn" id="logout">logout</button>
    </nav>
</header>
<main>
    <div class="col-md-6">

        <h2>New Comment</h2>

        <form class="form create-post-form">
            <div class="form-group">
                <label for="content-create-post">Content</label>
                <input class="form-input" type="text" id="content-create-post" value="{{post.content}}"/>
            </div>
            <div class="form-group">
                <label for="tags-create-post">Tags</label>
                <input class="form-input" type="text" id="tags-create-post" placeholder="Comma separated text for tags"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
            <div class="form-group">
                <a href="/" class="btn btn-primary">Cancel</a>
            </div>
        </form>
    </div>

  <script src="/js/create-post.js"></script>
</main>