<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo left">TECH BLOG DASHBOARD</h1>
      <ul id="nav-mobile" class="right">
        {{#if logged_in}}
              <li>
                <a class="right " href="/profile" id="profile-link">PROFILE</a>
              </li>
              <li>
                <a class="right" href="/profile/post">CREATE POST</a>
              </li>
              <li>
                <a class="right" id="logout">LOGOUT</a>
              </li>
        {{else}}
              <li>
                <a class="right" href="/login" id="login">LOGIN</a>
              </li>
              <li>
                <a class="right " href="/signup" id="signup">SIGNUP</a>
              </li>
        {{/if}}
      </ul>
    </div>
  </nav>
</header>
<main>
  <br>
  <div class="container">
    {{#each posts as |post|}}
      {{> post-detail}}
    {{/each}}
  </div>
</main>

{{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
