<header>
  <h1>Home</h1>
  {{#if logged_in}}
      <nav>
        <a class="btn" href="/profile" id="profile-link">Profile</a>
        <a class="btn" href="/profile/post">New Post</a>
        <button class="btn" id="logout">logout</button>
      </nav>
  {{else}}
      <nav>
        <a class="btn" href="/login" id="login">login</a>
        <a class="btn" href="/signup" id="signup">signup</a>
      </nav>
  {{/if}}
</header>
<main>
  {{#each posts as |post|}}
    {{> post-detail}}
    {{#each post.tags as |tag|}}
      {{> tag-detail}}
    {{/each}}
  {{/each}}
</main>
