<header>
  <h1>Individual Post</h1>
  {{#if logged_in}}
      <nav>
        <button class="btn" id="logout">logout</button>
      </nav>
  {{else}}
      <nav>
        <a href="/login" id="login-redirect">login</a>
        <a href="/signup" id="signup-redirect">signup</a>
      </nav>
  {{/if}}
</header>
<main>
    <div class="card">
        <div class="card-title">
            <h2>{{post.title}}</h2>
        </div>
        <div class="card-content">
            <p>{{post.content}}</p>
        </div>
    </div>

    {{#each post.comments as |comment|}}
        {{> comment-detail}}
    {{/each}}
    {{#each post.tags as |tag|}}
        {{> tag-detail}}
    {{/each}}
</main>