<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo left">{{uppercase post.title}}</a>
            <ul id="nav-mobile" class="right">
                <li><a class="right" href="/">DASHBOARD</a></li>
                {{#if logged_in}}
                    <li><a class="right" id="logout">LOGOUT</a></li>
                    {{#if user_is_owner}}
                        <li><a class="right" href="/post/update/{{post.id}}" id="update-post-redirect">UPDATE POST</a></li>
                    {{/if}}
                {{else}}
                    <li><a class="right" href="/login" id="login-redirect">LOGIN</a></li>
                    <li><a class="right" href="/signup" id="signup-redirect">SIGNUP</a></li>
                {{/if}}
            </ul>
        </div>
  </nav>
</header>
<main>
    <br>
        
        {{#with post}}
            {{> post-details-content}}
        {{/with}}
        <div class="container center-align">
            {{#unless user_is_owner}}
                <a class="btn" href="/post/{{post.id}}/comment/">ADD COMMENT</a>
            {{/unless}}
        </div>
        <br>

        {{#each post.comments as |comment|}}
            {{> comment-detail}}
        {{/each}}
</main>

{{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}