<h1>Profile</h1>
<h2> User log in is: {{logged_in}}</h2>
<h2> {{posts.[0].owner.username}} Posts</h2>
{{#each posts as |post|}}
    {{> post-detail }}
    {{!-- {{#if post.comments}}
        <h1>Comments</h1>
        {{#each post.comments as |comment|}}
            {{> comment-detail}}
        {{/each}}
    {{/if}}
    {{#each post.tags as |tag|}}
        {{> tag-detail}}
    {{/each}} --}}
{{/each}}