<header>

    <nav role="navigation">
      <div class="nav-wrapper">
        {{#if posts.[0]}}
            <a id="logo-container" href="#" class="brand-logo">{{uppercase posts.[0].owner.username}} POSTS</a>
        {{else}}
            <a id="logo-container" href="#" class="brand-logo">YOUR POSTS</a>
        {{/if}}
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/">DASHBOARD</a>
            </li>
            <li>
                <a href="/profile/post">CREATE POST</a>
            </li>
            <li>
                <a href="/logout" id="logout">LOGOUT</a>
            </li>
        </ul>
  
        <ul id="nav-mobile" class="sidenav sec_text_color">
            <li>
                <a href="/">DASHBOARD</a>
            </li>
            <li>
                <a href="/profile/post">CREATE POST</a>
            </li>
            <li>
                <a href="/logout" id="logout">LOGOUT</a>
            </li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
      </div>
    </nav>
</header>

<main>
    <br>
    <div class="container">
        {{#each posts as |post|}}
            {{> post-detail-full }}
        {{/each}}
    </div>
</main>