<header>
    <h1> {{posts.[0].owner.username}} Posts</h1>
        {{#if logged_in}}
        <nav>
            <button class="btn" id="logout">logout</button>
        </nav>
    {{else}}
        <nav>
            <a class="btn" href="/login" id="login">login</a>
            <a class="btn" href="/signup" id="signup">signup</a>
        </nav>
    {{/if}}
</header>
<main>
    {{#each posts as |post|}}
        {{> post-detail }}
    {{/each}}
</main>