<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Signup</a>
    </div>
</nav>

<main class="valign-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form class="form register-form row">
          <div class="form-group">
            <label for="name-signup">username:</label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group">
            <label for="email-signup">email:</label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="row">
            <label for="password-signup">password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="row center-align">
            <button class="btn red" type="submit">signup</button>
            <a href="/" class="btn grey">cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

  <script src="/js/signup.js"></script>

