<header>
  <h1>
    Posts Tagged with {{tag.name}}
  </h1>
      <nav>
        {{#if logged_in}}
              <button class="btn" id="logout">logout</button>
              <a class="btn" href="/post/comment/{{post.id}}">Add Comment</a>
        {{else}}
              <a class="btn" href="/login" id="login">login</a>
              <a class="btn" href="/signup" id="signup">signup</a>
        {{/if}}
        <a class="btn" href="/">home</a>
      </nav>
</header>
<main>
  {{#each tag.posts as |post|}}
    {{> post-detail}}
    {{#each post.comments as |comment|}}
      {{> comment-detail}}
    {{/each}}
  {{/each}}
</main>

{{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}