body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    /* use the red colour for materialize */
    background-image: linear-gradient(180deg, #EE6E73, white);
  }

main {
  flex: 1 0 auto;
}
    